

.dynamic-mesh-background {
	background: #222;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
}


@media only screen and (max-width: 600px) {
	body {
		background:
			url(https://source.unsplash.com/1080x2400?sunset+birdeye+ocean);
	}
}